body {
    margin-top:40px;
    font-size: 18px;
}
.jumbotron {
  background-color: rgba(78, 93, 108, 0.3);
}
.projects-list-item {
  overflow: hidden;
  background-color: transparent;
  margin: 20px 0;
  padding: 10px 20px 20px;
  text-align: center;
}
.projects-list-item h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 26px;
}
.projects-list-item p {
    font-size: 13px;
}
.blog-content p {
  font-size:0.5em;
}
.footer {
  margin-top: 40px;
  background-color: #4e5d6c;
  padding: 30px 0 16px 0;
}
.footer p {
  font-size: 0.4em;
  opacity: 0.8;
}
.highlight {
  margin:20px 0;
}
p code {
  color: #D3A9B4;
  background-color: rgba(0, 0, 0, 0.15);
}
.posts li {
  border-top: 1px solid #4e5d6c;
}
.posts {
  border-bottom: 1px solid #4e5d6c;
}
.posts-sb p {
  font-size:0.5em;
}
.posts-sb p small {
  display:block;
}
.panel {
  background-color: rgba(78, 93, 108, 0.26);
}
.panel .text-muted {
  color: #858C92;
}
.panel-default > .panel-heading {
  background-color: rgba(12, 32, 53, 0.34);
}
.panel-title {
  font-size:1.0em;
}