body {
	background-color:#0c2b41;
}
#Main {
	position:absolute;
	top:40px;
	right:40px;
	bottom:40px;
	left:40px;
	background-color:transparent;
	background-image:url(../images/scribe-logo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}
#Main h1 {
	display:none;
	visibility:hidden;
}