body {
	color:#cfdbe3;
	font-family:'Roboto',sans-serif;
	background-color:#0c2b41;
}
a {
	color:#cfdbe3;
	text-decoration:none;
	border-bottom:1px solid #4E6777;
}
a:hover, a:focus {
	color:#fff;
	border-bottom-color:#fff;
}
p {
	font-size:16px;
	font-weight:400;
}
#Header {
	position:absolute;
	top:120px;
	right:60px;
	bottom:120px;
	left:60px;
	background-color:transparent;
	background-image:url(../images/scribe-logo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}
#Header > * {
	display:none;
	visibility:hidden;
}
#Nav {
	position:absolute;
	right:0;
	top:0;
	left:0;
	z-index:1000;
	padding:0px 0 0px 0;
	text-align:center;
	background-color:#0a2539;
}
#Nav h2 {
	font-size:18px;
}
#Nav ul {
	list-style-type:none;
}
#Nav ul li {
	display:inline-block;
}
#Nav ul li a {
	font-size:13px;
	padding:4px 0px;
	margin-left:4px;
	margin-right:4px;
	text-decoration:none;
	border:none;
	display:block;
	margin-bottom:4px;
}
#Body {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	z-index:1000;
	padding:0px 0 20px 0;
	text-align:center;
	background-color:#0a2539;
}
#Footer {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	z-index:1001;
	text-align:center;
	background-color:transparent;
}
#Footer p {
	font-size:14px;
	font-weight:300;
	margin:0 0 16px 0;
	padding:0;
}