---
layout: default
---
<div class="jumbotron page-jumbotron">
	<div class="container">
		<h1>
		    {{ site.data.code.[page.data_key].title }}
		</h1>
		<p>
			{{ site.data.code.[page.data_key].desc }}
		</p>
	</div>
</div>
<div class="container">
	<div class="well code-group-well">
		<p><em>This group of projects is also available via our internal Git management solution at: <a href="{{ site.data.code.[page.data_key].url }}">{{ site.data.code.[page.data_key].url }}</a></em></p>
	</div>
	<div class="code-group-list">
		<ul class="list-unstyled">
		{% for repo in site.data.code.[page.data_key].repos %}
			<li>
					<div class="code-repo-info">
						<h6 style="padding-left:4px;"><a href="{{ repo.url }}browse">{{ repo.name }}</a></h6>
						<p>{{ repo.desc }}</p>
					</div>
					<div class="code-repo-clone">
						<button class="code-clone-url" data-clipboard-text="{{ repo.url }}clone" title="Click to copy to the git clone URL for {{ repo.name }} to your clipboard.">Copy Git Clone URL</button>
						<pre class="code-clone-url-dply"><code class="html">{{ repo.url }}clone</code></pre>
					</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
<script>
var client = new ZeroClipboard($(".code-clone-url"));

client.on( 'ready', function(event) {
	console.log( 'movie is loaded' );

	client.on( 'aftercopy', function(event) {
	  console.log($(event.target).closest('.code-clone-url-dply'));
	});
} );
</script>